<!DOCTYPE html>
    {% extends "Admin/index.html" %}
    {%block title%}
        Asignaturas Destino
    {%endblock%}


    {% block body%}
    <div class="text-center">
        <h1>Asignaturas Destino con enlace</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID ASIGNATURA</th>
            <th>NOMBRE</th>
            <th>CÓDIGO</th>
            <th>ID UNIVERSIDAD</th>
            <th>AÑO</th>
            <th>CUATRI</th>
            <th>ENLACE</th>
        </tr>
        </thead>
        <tbody>
        {% for item in result %}
            <tr>
                <td> {{ item[0]}} </td>
                <td> {{ item[1] }} </td>
                <td> {{ item[2] }} </td>
                <td> {{ item[3] }} </td>
                <td> {{ item[4] }} </td>
                <td> {{ item[5] }} </td>
                <td> {{ item[6] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%endblock%}