<!DOCTYPE html>
    {% extends "Admin/index.html" %}
    {%block title%}
        Nuevo Estudiante
    {%endblock%}


    {% block body%}

    <div class="text-center">
        <h1>Nuevo Estudiante</h1>
        <p>Rellene el formulario para incorporar al estudiante</p>
        <br>
    </div>
    
   
    <form class="form-horizontal" action="{{ url_for('add_student_form')}}" method="post" >
    
        <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-5">
            <input class="form-control" id="name" name="name" placeholder="Nombre" required>
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-sm-2" for="Apellidos">Apellidos:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellidos" required>
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Curso:</label>
        <div class="col-sm-5">
            <select class="form-control" name="grade" id="grade" required >
                <option value="-" class="option"> - </option>
                <option value="3" class="option">3º</option>
                <option value="4" class="option">4º</option>
                <option value="5" class="option">5º</option>
                <option value="6" class="option">6º</option>
            </select>
        </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Grado:</label>
            <div class="col-sm-5">
            <select class="form-control" name="degree" id="degree" required >
                <option value="-" class="option"> - </option>
                <option value="GIT" class="option">GIT</option>
                <option value="GAD" class="option">GAD</option>
                <option value="GAM" class="option">GAM</option>
                <option value="GMK" class="option">GMK</option>
                <option value="GID" class="option">GID</option>
                <option value="GNF" class="option">GNF</option>
                <option value="GEL" class="option">GEL</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Titulo:</label>
            <div class="col-sm-5">
            <select class="form-control" name="title" id="title" required >
                <option value="1" class="option">-</option>
                <option value="2" class="option">Inglés Cambridge First (B2)</option>
                <option value="3" class="option">Inglés Cambridge Advanced (C1)</option>
                <option value="4" class="option">Inglés Cambridge Proficency (C2)</option>

                <option value="5" class="option">Inglés Cambridge ESOL IELTS (B2) / (5.5 - 6.5)</option>
                <option value="6" class="option">Inglés Cambridge ESOL IELTS (C1)) / (7 - 8)</option>
                <option value="7" class="option">Inglés Cambridge ESOL IELTS (C2) / (8.5 - 9)</option>

                <option value="8" class="option">Inglés Cambridge Linguaskill (B2)</option>
                <option value="9" class="option">Inglés Cambridge Linguaskill (C1)</option>

                <option value="10" class="option">Inglés TOEFL-iBT (B2) / (72 - 94)</option>
                <option value="11" class="option">Inglés TOEFL-iBT (C1) / (95 - 120)</option>

                <option value="12" class="option">Inglés TOEFL ITP (B2) / (543 - 626)</option>
                <option value="13" class="option">Inglés TOEFL ITP (C1) / (627 - 677)</option>

                <option value="14" class="option">Inglés TOEIC (B2)</option>
                <option value="15" class="option">Inglés TOEIC (C1)</option>

                <option value="16" class="option">Inglés Escuela Oficial de Idiomas (L.0.8/2013) (B2)</option>
                <option value="17" class="option">Inglés Escuela Oficial de Idiomas (L.0.8/2013) (C1)</option>

                <option value="18" class="option">Inglés Escuela Oficial de Idiomas (RD 1041/2017) (B2)</option>
                <option value="19" class="option">Inglés Escuela Oficial de Idiomas (RD 1041/2017) (C1)</option>
                <option value="20" class="option">Inglés Escuela Oficial de Idiomas (RD 1041/2017) (C2)</option>

            
                <option value="21" class="option">Inglés ACLES (B2 CERTACLES)</option>
                <option value="22" class="option">Inglés ACLES (C1 CERTACLES)</option>
                <option value="23" class="option">Inglés ACLES (C2 CERTACLES)</option>

                <option value="24" class="option">Inglés APTIS (B2)</option>
                <option value="25" class="option">Inglés APTIS (C1)</option>

                <option value="26" class="option">Inglés Secondary Education (B2)</option>

                <option value="27" class="option">Inglés International Baccalaureate (C1)</option>

                <option value="28" class="option">Inglés Filología Inglesa</option>

                <option value="29" class="option">Inglés Oxford Test of English (B2)</option>

                <option value="30" class="option">Inglés London Test of English (LTE) (B2) / (Level 3)</option>
                <option value="31" class="option">Inglés London Test of English (LTE) (C1) / (Level 4)</option>
                <option value="32" class="option">Inglés London Test of English (LTE) (C2) / (Level 5)</option>

                <option value="33" class="option">Inglés Pearson Test English (PTE) (B2) / (Level 3 / 59 - 75)</option>
                <option value="34" class="option">Inglés Pearson Test English (PTE) (C1) / (Level 4 / 76 - 84)</option>
                <option value="35" class="option">Inglés Pearson Test English (PTE) (C2) / (Level 5 / 85 or more)</option>

                <option value="36" class="option">Inglés Anglia Ascentis ESOL Examinations (B2) / (General:Advanced / Business:Advanced)</option>
                <option value="37" class="option">Inglés Anglia Ascentis ESOL Examinations (C1) / (General:Proficency/AcCEPT)</option>
                <option value="38" class="option">Inglés Anglia Ascentis ESOL Examinations (C2) / (General:Masters / Busines:Proficency)</option>


                <option value="39" class="option">Francés DELF (B2)</option>
                <option value="40" class="option">Francés DALF (C1)</option>
                <option value="41" class="option">Francés Estudios de Educación Secundaria (B2)</option>
                <option value="42" class="option">Francés Estudios de Educación de Bachillerato (C1)</option>
                <option value="43" class="option">Alemán Goethe-Zertifikat (B2)</option>
                <option value="44" class="option">Alemán Test-DaF-Niveaustufe 3 (B2)</option>

                <option value="45" class="option">Alemán Estudios de Educación Secundaria (B2)</option>
                <option value="46" class="option">Alemán (ZDfB) Goethe-Zertifikat (C1)</option>
                <option value="47" class="option">Alemán Test-DaF-Niveaustufe 4 (C1)</option>
                <option value="48" class="option">Alemán Estudios de Bachillerato (C1)</option>

                <option value="49" class="option">Italiano Título/Diploma Academia (B2)</option>
                <option value="50" class="option">Italiano Título/Diploma Academia (C1)</option>
                <option value="51" class="option">Italiano Título/Diploma Academia (C2)</option>

                <option value="52" class="option">Portugués Título/Diploma Academia (B2)</option>
                <option value="53" class="option">Portugués Título/Diploma Academia (C1)</option>
                <option value="54" class="option">Portugués Título/Diploma Academia (C2)</option>

            </select>
            </div>
        </div>

        <div class="form-group">
            <pre>Tenga en cuenta que, para poder inscribirse correctamente debe cumplir una serie de requisitos indicados a continuación</pre> 
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Requisitos:</label>
            <div class="col-sm-5">
            <select class="form-control" name="requisitos" id="requisitos" required >
                <option value="-" class="option">-</option>
                <option value="1" class="option">Superados más de X ECTS y dispongo de idioma</option>
                <option value="2" class="option">Superados más de X ECTS pero no dispongo de idioma</option>
                <option value="3" class="option">Superados más de X ECTS y dispongo de idioma pero con asignaturas pendientes</option>
                <option value="4" class="option">Superados más de X ECTS y es mi segunda solicitud</option>
            </select>
            </div>
        </div>


        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Guardar</button>
        </div>
        </div>
    
    </form>
    {%endblock%}
