<!DOCTYPE html>
<html>

<head>
	<title>FlaskTest</title>
</head>

<body>
	<h2>Welcome To U2U</h2>
	<h4>Menú de opciones</h4>
		<a href="{{ url_for('select_estudiantes') }}">Estudiantes</a> <br>
		<a href="{{ url_for('select_estudiantes_idiomas') }}">Estudiantes con idiomas</a> <br>
		<a href="{{ url_for('add_student_form') }}">Incorporar Estudiante</a> <br>
		<br>

		<a href="{{ url_for('select_universidades') }}">Universidades</a> <br>
		<a href="{{ url_for('select_universidades_idiomas') }}">Universidades con idiomas</a> <br>
		<br>

		<a href="{{ url_for('select_titulos')}}">Titulos</a> <br>
		<br>
		<a href="{{ url_for('add_selection_form') }}">Incorporar Seleccion</a> <br>
		<a href="{{ url_for('subjects') }}">Asignaturas Origen</a> <br>
		<a href="{{ url_for('subjects_aborad') }}">Asignaturas Destino</a> <br>
		
		<a href="{{ url_for('learnignAgreement') }}">Learnign Agreements</a> <br>
		<a href="{{ url_for('Aods') }}">Asignaturas Origen - Destino</a> <br>
		<a href="{{ url_for('Selection') }}">Seleccion</a> <br>

{% block body %}
  
		<p>This is a Flask application.</p> 
 
{% endblock %}
</body>

</html>
