<!DOCTYPE html>
<html>

<head>
	<title>
		{%block title%}
    	{%endblock%}
	</title>
	<link rel="shortcut icon" href="./assets/img/logo.png" type="image/png"> <!-- No funciona -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img src="./assets/img/logo.png"><!-- No funciona -->
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estudiantes <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="{{ url_for('select_estudiantes') }}">Estudiantes</a></li>
					<li><a href="{{ url_for('select_estudiantes_idiomas') }}">Estudiantes con titulo de idioma</a></li>
					<li><a href="">Estudiantes sin titulo de idioma (no funciona)</a></li>
					<li><a href="{{ url_for('add_student_form') }}">Incorporar estudiante</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav ">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Universidades <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="{{ url_for('select_universidades') }}">Universidades</a></li>
					<li><a href="{{ url_for('select_universidades_idiomas') }}">Universidades con idioma</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('select_titulos')}}">Titulos</a></li>
			</ul>

			<ul class="nav navbar-nav ">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Asignaturas <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="{{ url_for('select_asignaturasO') }}">Asignaturas Origen</a></li>
					<li><a href="{{ url_for('select_asignaturasD') }}">Asignaturas Destino</a></li>
					<li><a href="{{ url_for('select_asignaturasOD') }}">Equivalencias Asignaturas Origen y Destino</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('select_las') }}">Learnign Agreements</a></li>
			</ul>

			<ul class="nav navbar-nav ">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Selección <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="{{ url_for('select_selection') }}">Selección</a></li>
					<li><a href="{{ url_for('add_selection_form') }}">Incorporar Selección </a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav ">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estado Movilidad <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><a href="">Movilidad con LA (no funciona) </a></li>
					<li><a href="">Movilidad sin LA (no funciona) </a></li>
					</ul>
				</li>
			</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		</nav>

		

		<div class="container">

			{%block body%}
			<h1> Bienvenido a U2U app</h1>
			<p> Dispone de un menú de navegación arriba, y una vista general a continuación; </p>
			<br>
			<table class="table table-hover">
				<h3>Estadísticas Base de Datos</h3>
				<tr>
					<th>Estudiantes registrados</th>
					<th>Estudiantes con titulo de idiomas</th>
					<th>Estudiantes sin titulo de idioma</th>
					<th>Procesos seleccion 2023</th>
					<th>Selecciones <br> 1º cuatri 2023</th>
					<th>Selecciones <br> 2º cuatri 2023</th>
					<th>Selecciones anuales 2023</th>
					<th>Learning Agreements aceptados</th>
					<th>Learning Agreements firmados</th>
				</tr>
				<tr>
					{% for item in result %}
					<td class="text center">{{ item }} </td>
					{% endfor %}
				</tr>
			</table>


			{%endblock%}


			
				  
		</div>

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>
