<!DOCTYPE html>
    {% extends "index.html" %}
    {%block title%}
        Learning Agreements
    {%endblock%}


    {% block body%}
    <div class="text-center">
        <h1>Learning Agreements</h1>
        <p>Si desea buscar algun learning agreement en concreto solamente debe indicarlo en la barra de búsqueda de la siguiente manera:</p>       
        <pre>.../learningAgreement/<i>&#60id_estudiante&#62</i></pre> 
    
        <p> como por ejemplo: &nbsp; .../learningAgreement/4</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID ESTUDIANTE</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>CURSO</th>
            <th>GRADO</th>
            <th>ID LA</th>
            <th>ACEPTADO COORD</th>
            <th>ACEPTADO RRII</th>
            <th>FIRMADO COORD</th>
            <th>FIRMADO RRII</th>

        </tr>
        </thead>
        <tbody>
        {% for item in result %}
            <tr>
                <td> {{ item[0]}} </td>
                <td> {{ item[1] }} </td>
                <td> {{ item[2] }} </td>
                <td> {{ item[3] }} </td>
                <td> {{ item[4] }} </td>
                <td> {{ item[5] }} </td>
                <td> {{ item[6] }} </td>
                <td> {{ item[7]}} </td>
                <td> {{ item[8] }} </td>
                <td> {{ item[9] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%endblock%}