<!DOCTYPE html>
    {% extends "index.html" %}
    {%block title%}
        Nueva Seleccion
    {%endblock%}


    {% block body%}

    <div class="text-center">
        <h1>Nueva Seleccion</h1>
        <p>Rellene el formulario para incorporar una nueva seleccion</p>
        <br>
    </div>
   
    <form class="form-horizontal" action="{{ url_for('add_selection_form')}}" method="post" >
    
        <div class="form-group">
        <label class="control-label col-sm-2" for="year">Año:</label>
        <div class="col-sm-5">
            <select class="form-control" name="year" id="year" required>
                <option value="-" class="option">-</option>
                <option value="2022" class="option">2022</option>
            </select>
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-sm-2" for="Apellidos">Cuatrimestre:</label>
        <div class="col-sm-5">
            <select class="form-control" name="duracion" id="term" required>
                <option value="-" class="option">-</option>
                <option value="1" class="option">1º cuatrimestre</option>
                <option value="2" class="option">2º cuatrimestre</option>
                <option value="3" class="option">Movilidad anual</option>
            </select>
        </div>
        </div>

        <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Vuelta:</label>
        <div class="col-sm-5">
            <select class="form-control" name="round" id="round" required >
                <option value="-" class="option"> - </option>
                <option value="1" class="option">1ª vuelta</option>
                <option value="2" class="option">2ª vuelta</option>
            </select>
        </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Confirmacion Uni</label>
            <div class="col-sm-5">
            <select class="form-control"  name="conf_uni" id="conf_uni" required >
                <option value="-" class="option"> - </option>
                <option value="1" class="option">1</option>
                <option value="2" class="option">2</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Estudiante</label>
            <div class="col-sm-5">
                <input class="form-control"  name="estudiantes" id="estudiantes" placeholder="id estudiante" required >
            </div>
        </div>
        
        <div class="form-group">
            <br>
            <div class="text-center">
                <p> a continuacion debe ordenar las universidades por orden de preferencia</p>
            </div>
            <label class="control-label col-sm-2" for="pwd">1ª universidad:</label>
            <div class="col-sm-5">
            <select class="form-control" name="uni1" id="uni1" > <!-- requiered -->
                <option value="-" class="option"> - </option>
                <option value="Tilburg University" class="option">Tilburg University</option>
                <option value="Inholland University" class="option">Inholland University</option>
                <option value="Nantes University" class="option">Nantes University</option>
                <option value="Pitsburg University" class="option">Pitsburg University</option>
                <option value="St. Louis University" class="option">St. Louis University</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">2ª universidad:</label>
            <div class="col-sm-5">
            <select class="form-control" name="uni2" id="uni2" > <!-- requiered -->
                <option value="-" class="option"> - </option>
                <option value="Tilburg University" class="option">Tilburg University</option>
                <option value="Inholland University" class="option">Inholland University</option>
                <option value="Nantes University" class="option">Nantes University</option>
                <option value="Pitsburg University" class="option">Pitsburg University</option>
                <option value="St. Louis University" class="option">St. Louis University</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">3ª universidad:</label>
            <div class="col-sm-5">
            <select class="form-control" name="uni3" id="uni3" > <!-- requiered -->
                <option value="-" class="option"> - </option>
                <option value="Tilburg University" class="option">Tilburg University</option>
                <option value="Inholland University" class="option">Inholland University</option>
                <option value="Nantes University" class="option">Nantes University</option>
                <option value="Pitsburg University" class="option">Pitsburg University</option>
                <option value="St. Louis University" class="option">St. Louis University</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">4ª universidad:</label>
            <div class="col-sm-5">
            <select class="form-control" name="uni4" id="uni4" > <!-- requiered -->
                <option value="-" class="option"> - </option>
                <option value="Tilburg University" class="option">Tilburg University</option>
                <option value="Inholland University" class="option">Inholland University</option>
                <option value="Nantes University" class="option">Nantes University</option>
                <option value="Pitsburg University" class="option">Pitsburg University</option>
                <option value="St. Louis University" class="option">St. Louis University</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">5ª universidad:</label>
            <div class="col-sm-5">
            <select class="form-control" name="uni5" id="uni5" > <!-- requiered -->
                <option value="-" class="option"> - </option>
                <option value="Tilburg University" class="option">Tilburg University</option>
                <option value="Inholland University" class="option">Inholland University</option>
                <option value="Nantes University" class="option">Nantes University</option>
                <option value="Pitsburg University" class="option">Pitsburg University</option>
                <option value="St. Louis University" class="option">St. Louis University</option>
            </select>
            </div>
        </div>


        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Guardar</button>
        </div>
        </div>
    
    </form>
    {%endblock%}